---
const contactInfo = [
  { label: "Email", value: "dextr_x.io@proton.me" },
  { label: "Phone", value: "+213 591 23 45 67" },
  { label: "Location", value: "Algeria" },
  { label: "Freelance", value: "Not available" },
  { label: "Languages", value: "English, Arabic" }
];
---
<div class="max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8">
  <section class="w-full lg:w-[80%] mx-auto px-4 sm:px-10 lg:px-0 py-14 rounded-xl shadow bg-black">
    <header class="mb-8">
      <h2 class="text-4xl font-serif font-bold text-white mb-2">About Me</h2>
      <div class="flex gap-2 mb-4">
        <span class="w-16 h-1 bg-gray-600 rounded"></span>
        <span class="w-8 h-1 bg-gray-600 rounded"></span>
      </div>
      <h4 class="capitalize text-xl font-semibold text-white">
        I'm SALAH Ahmed Yasser and I'm a <span class="text-gray-400">Backend Developer</span>
      </h4>
    </header>
    <p class="text-gray-400 mb-10 text-lg">
      I am a dedicated and innovative FullStack Developer passionate about creating impactful digital experiences. With a keen eye for detail and a commitment to excellence, I specialize in designing and developing solutions that combine creativity with functionality.
    </p>
    <ul class="space-y-2 max-w-md font-mono">
      {contactInfo.map(item => (
        <li class="">
          <span class="text-gray-400">{item.label.toLowerCase()}@:</span>
          <span class="ml-2 text-white">{item.value}</span>
        </li>
      ))}
    </ul>
  </section>
</div>