---
const contactInfo = [
  { label: "Email", value: "dextr_x.io@proton.me" },
  { label: "Phone", value: "+213 591 23 45 67" },
  { label: "Location", value: "Algeria" },
  { label: "Freelance", value: "Not available" },
  { label: "Languages", value: "English, Arabic" }
];
---
<div class="max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8">
  <section class="w-full lg:w-[80%] mx-auto px-4 sm:px-10 lg:px-0 py-14 rounded-xl shadow bg-black">
    <header class="mb-8">
      <div>
        <h2 class="text-4xl font-serif font-bold text-white mb-2">Me</h2>
        <div class="flex gap-4 mb-4">
          <span class="w-12 h-1 bg-gray-600 rounded"></span>
        </div>
      </div>
      <h4 class="capitalize text-xl font-semibold text-white">
        I'm SALAH Ahmed Yasser and I'm a <span class="text-gray-400"><strong class="underline">Software Engineer</strong></span>
      </h4>
    </header>
    <p class="text-gray-400 mb-10 text-lg">
      I am a university student with hands-on experience in C, Python, Rust, and computer networks. I enjoy learning new technologies and applying my skills to solve real-world problems, both in academic projects and personal explorations.
    </p>
    <ul class="space-y-2 max-w-md font-mono">
      {contactInfo.map(item => (
        <li class="">
          <span class="text-gray-400">{item.label.toLowerCase()}@:</span>
          <span class="ml-2 text-white">{item.value}</span>
        </li>
      ))}
    </ul>
  </section>
</div>