---
export interface Nav {
  nav: string;
  path?: string;
}

const navbar: Nav[] = [
  { nav: "Home", path: "/" },
  { nav: "Projects", path: "/projects" },
  { nav: "Blog", path: "/blog" },
];
---

<div class="flex justify-center p-4 z-40">
  <div>
    <nav class="flex space-x-8">
      {navbar.map((element) => (
        <a href={element.path} class="text-lg/loose font-semibold text-white">{element.nav}</a>
      ))}
    </nav>
  </div>
</div>