---
interface Stat{
    num : number ,
    name : string,
    path : string
}

const statistic : Stat[] = [
    { num : 1 , name : "Project" , path : "./project.svg"},
    {num : 2, name: "Public repositories" , path: "./repo.svg"},
    {num : 0, name: "Open source projects" , path: "./opensource.svg"}
]
---
<div class="h-auto">
    <div class= "py-8 sm:py-24 text-center">
        <div class="py-16">
            <h1 class="text-3xl font-semibold tracking-tight text-white sm:text-5xl">All my Workstation</h1>
            <h3 class="text-base/8 text-gray-400 p-4">I'm not the best, but I will do my best</h3>
        </div>
        <div class="mx-auto max-w-7xl p-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
              {statistic.map((element)=>(
                  <div>
                      <dt class="flex justify-center py-1"><img class="w-auto h-12 flex-shrink-0 object-cover rounded" src={element.path} /></dt>
                      <dd class="text-base/7 text-gray-400 py-4">{element.name}</dd>
                      <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl py-1">{element.num}</dd> 
                  </div> 
              ))}
          </dl>
        </div>
    </div>
</div>