---
const {skill,description,picture} = Astro.props;
---
<div>
    <div class=" box-content mx-auto h-32 max-w-sm flex items-center gap-x-4 rounded-xl bg-black p-6 outline outline-gray-400">
        <img class="w-auto h-12 flex-shrink-0 object-cover rounded" src={picture} />
        <div>
            <div class="text-xl font-medium text-white">{skill}</div>
            <p class="text-gray-400">{description}</p>
        </div>
    </div>
</div>